*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
	--primary-color: #FF7200;
    --gray-color: #E5E0E0;
    --white-color: #FFFFFF;
    --black-color: #000;
}

body.dark{
	background-color: var(--black-color);
	--text-color: #edf2ff;
	--primary-color: var(--primary-color);
}