
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-color: #FF7200;
    --gray-color: #E5E0E0;
    --white-color: #FFFFFF;
    --black-color: #000;
}

dialog::backdrop{
    background-color: rgba(0 0 0 / .5);
}

dialog{
    width: 85%;
    height: 50vh;
    margin: auto;
    /* background-image: url("../../assets/img/doarSangue.png"); */
    background-image: url("../../assets/img/agasalho.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border: none; 
    border-radius: 30px;
    box-shadow:  0 0 1rem rgba( 0 0 0 / .3);

}

dialog button{
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 15px;
}

/* dialog img{
    width: 100%;
    height: auto;
    position: absolute;
} */

a{
    text-decoration: none;
}

body{
    background-color: var(--gray-color);
    /* esconde o que passar do tamanho normal da página */
    overflow-x: hidden;
    color: var(--black-color);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 35px 0 25px 0; */
    height: 20vh;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 30px 30px 0 0;
    height: 80vh;
    z-index: -1;
    padding: 40px 0 0 0;
}

input{
    background-color: var(--gray-color);
    width: 308px;
    height: 25px;
    border-radius: 50px;
    margin-top: 10px;
    border: none;
}

.div-input{
    margin-top: 40px;
}

.div-btn-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.div-btn-login p > a{
    color: var(--primary-color);
}

.btn-login{
    width: 17.31rem;
    height: 2.18rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50px;
    border: none;
    font-size: 16px;
    margin-bottom: 50px;
}